.menu-list { 
  background: #b8b8b8;
  padding: 30px 25px;
  max-width: 900px;
}


.menu-header { 
  background: white;
  padding: 20px 20px;
  border-radius: 16px;
}

.menu-header h1 {
  text-align: center;
  font-size: 29px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.menu-header p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
}

.menu-item { 
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,0.10) ;
}

.item-info { 
  max-width: 85%;   /* keeps long descriptions from pushing price */
}

.item-name { 
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.3px;
  margin-bottom: 5px;
}

.item-desc {
  font-size: 13px;
  line-height: 1.4;
  color: #666;
}

.item-price {
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;  /* keeps $13.95 on one line */
}

.menu-item .item-info,
.menu-item .item-info p {
  text-align: left;
}

.menu-subtitle {
  margin-top: 30px;
  font-size: 18px;
}

.menu-text {
  margin-top: 32px;
  padding-top: 22px;
}

.menu-text p {
  margin: 0 0 12px;
  line-height: 1.5;
  text-align: left;
}

.menu-text .dash-line {
  padding-bottom: 12px;
  margin-bottom: 16px;
  border-bottom: 1px dashed rgba(0,0,0,0.40) ;
}


/* Iphone / half-screen */
@media (min-width: 768px){
  .menu-header h1 {
  font: 29px;
}
}

@media (min-width: 820px){

.menu-header h1 {
  font-size: 40px;
}

.menu-header p {
  font-size: 20px;
}

.item-name { 
  font-size: 26px;
  margin-bottom: 12px;
}

.item-desc {
  font-size: 20px;
}

.item-price {
  font-size: 26px;
}

.menu-subtitle {
  margin-top: 30px;
  font-size: 27px;
}

}

/* Large tablet / Ipad Pro */
@media (min-width: 1024px) {

  .menu-list { 
  max-width: 1200px;
}

  .menu-header h1 {
  font-size: 47px;
}

.menu-header p {
  font-size: 22px;
}

.item-name { 
  font-size: 27px;
  margin-bottom: 12px;
}

.item-desc {
  font-size: 20px;
}

.item-price {
  font-size: 25px;
}

.menu-subtitle {
  margin-top: 30px;
  font-size: 26px;
}

}

/* Desktop */
  @media (min-width: 1280px) {

    .menu-list { 
  max-width: 2600px;
}

  .menu-header h1 {
  font-size: 60px;
}

.menu-header p {
  font-size: 28px;
}

.item-name { 
  font-size: 33px;
  margin-bottom: 12px;
}

.item-desc {
  font-size: 25px;
}

.item-price {
  font-size: 33px;
}

.menu-subtitle {
  margin-top: 30px;
  font-size: 26px;
}

.menu-text p {
  text-align: center;
}
  }