/* MAIN */

 /* HERO */

.location-hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.location-hero img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}


.location-title {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: linear-gradient(
    rgba(0,0,0,0.35),
    rgba(0,0,0,0.35));              
}

.location-title h1 {
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.location-title p {
  font-size: 10px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}


/* HERO BUTTONS */

.nav-buttons { 
  background: black;
  padding: 18px 22px;
}

.cta-row {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.cta-row a {
  display: inline-block;
  padding: 8px 10px;
  color: white;
  text-decoration: none;
  background-color: #CC0202;
  border-radius: 999px;
  font-weight: 600;
  font-size: 13px;
  transition: 
    transform .15s ease,         /* subtle lift on hover */
    background .15s ease,
    opacity .15s ease;
}

.cta-row a:hover {
  transform: translateY(-1px);   /* subtle lift effect */
  opacity: 0.9;                  /* slight fade */
}


/* LOCATION */

.location-visuals {
  background: #f6f6f6;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  align-items: center;
}

.location-photo-frame img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  margin-bottom: 10px;
}

.location-info h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.location-info p {
  font-size: 16px;
}


.location-info a {
  display: inline-block;
  padding: 8px 10px;
  margin-top: 10px;
  text-decoration: none;
  background-color: #CC0202;
  color: white;
  border-radius: 999px;
  font-weight: 600;
  font-size: 14px;
}

/* HAPPY TEASER */

.happy-teaser {
  background: #b8b8b8;
  color: black;
  padding: 25px 20px;
}

.happy-teaser-card {
  max-width: 900px;
  margin: 0 auto;
  background: #f5f5f5;
  border-radius: 16px;
  padding: 26px 20px;
}

.happy-teaser-card h2 {
  font-size: 22px;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.happy-teaser-card p {
  font-size: 17px;
  color: #444;
  line-height: 1.2;
  margin-bottom: 8px;
}


/* Tablet / half-screen */
  @media (min-width: 768px) {

  .location-title {
    padding-left: 60px;
  }  
  .location-title h1 {
  font-size: 37px;
  }

  .location-title p {
    font-size: 17px;
  }

  .nav-buttons { 
  background: black;
  padding: 25px 20px;
  }

  .cta-row {
    gap: 30px;
  }

  .cta-row a {
    font-size: 24px;
    padding: 10px 20px;
  }

  .location-visuals {
    padding: 30px 20px;
    gap: 8px;
  }

  .location-photo-frame img {
    width: 100%;
    height: 330px;
    margin-bottom: 10px;
  }

  .location-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .location-info p {
    font-size: 22px;
  }


  .location-info a {
    padding: 8px 10px;
    margin-top: 12px;
    font-size: 20px;
  }

  .happy-teaser {
    padding: 30px 25px;
  }

  .happy-teaser-card {
    border-radius: 16px;
    padding: 26px 20px;
  }

  .happy-teaser-card h2 {
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
  }

  .happy-teaser-card p {
    font-size: 22px;
    margin-bottom: 10px;
  }

  }







/* Large tablet / Ipad Pro */
  @media (min-width: 1024px) {

  .location-title {
    padding-left: 80px;
  }  

  .location-title h1 {
  font-size: 45px;
  }

  .location-title p {
    font-size: 22px;
  }

  .nav-buttons { 
  background: black;
  padding: 30px 20px;
  }

  .cta-row {
    gap: 35px;
  }

  .cta-row a {
    font-size: 30px;
    padding: 12px 20px;
  }

  .location-visuals {
    padding: 40px 30px;
    gap: 8px;
  }

  .location-photo-frame img {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
  }

  .location-info h2 {
    font-size: 36px;
    margin-bottom: 14px;
  }

  .location-info p {
    font-size: 28px;
  }


  .location-info a {
    padding: 8px 10px;
    margin-top: 14px;
    font-size: 28px;
  }

  .happy-teaser {
    padding: 40px 25px;
  }

  .happy-teaser-card {
    border-radius: 16px;
    padding: 26px 20px;
  }

  .happy-teaser-card h2 {
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
  }

  .happy-teaser-card p {
    font-size: 28px;
    margin-bottom: 10px;
  }
  }


/* Desktop */
  @media (min-width: 1280px) {

    .location-hero img {
      height: 900px;
      object-fit: cover;
      display: block;
      object-position: right bottom;
    }

    .location-title {
    padding-left: 200px;
    }  
    .location-title h1 {
    font-size: 65px;
    }

    .location-title p {
      font-size: 30px;
    }

    .nav-buttons { 
    background: black;
    padding: 50px 20px;
    }

    .cta-row {
      gap: 50px;
    }

    .cta-row a {
      font-size: 35px;
      padding: 20px 30px;
    }

    .location-visuals {
      padding: 70px 180px;
      gap: 8px;
    }

    .location-photo-frame img {
      width: 100%;
      height: 900px;
      margin-bottom: 10px;
      object-fit: cover;
      display: block;
      object-position: center;
    }

    .location-info h2 {
      font-size: 46px;
      margin-bottom: 18px;
    }

    .location-info p {
      font-size: 40px;
    }


    .location-info a {
      padding: 10px 30px;
      margin-top: 18px;
      font-size: 40px;
    }

    .happy-teaser {
      padding: 50px 40px;
    }

    .happy-teaser-card {
      border-radius: 16px;
      padding: 30px 30px;
    }

    .happy-teaser-card h2 {
      font-size: 46px;
      margin-bottom: 10px;
      letter-spacing: 0.5px;
    }

    .happy-teaser-card p {
      font-size: 35px;
      margin-bottom: 10px;
    }
  }