/* HERO */

.hero-menu {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-menu img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.menu-title {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: linear-gradient(
    rgba(0,0,0,0.61),
    rgba(0,0,0,0.61));              
}

.menu-title h1 {
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.menu-title p {
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.hero-button { 
  margin-top: 12px;
  display: inline-block;
  padding: 12px 18px;
  background: #CC0202;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 12px;
}

.hero-btn:hover{
  opacity: 0.9;
}

/* TITLE */

.section-title {
  text-align: center;
  margin: 45px 24px 24px;
}

.section-title h2 {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.section-title p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.menu-grid {
  display: grid;
  gap: 40px;
  padding: 0 24px 48px;
  margin-top: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.menu-card {
  text-align: center;
  overflow: hidden;
}

.menu-card img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 12px;
}

.menu-button { 
  display: inline-block;
  margin-top: 10px;
  background: #CC0202;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 8px 8px;
  font-size: 14px;
}

.menu-button:hover {
  text-decoration: underline;
}




/* Iphone / half-screen */
@media (min-width: 768px){
  .menu-grid{
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-title h1 {
  font-size: 31px;
  margin-bottom: 10px;
}

.menu-title p {
  font-size: 17px;
}

.hero-button { 
  font-size: 17px;
  padding: 15px 18px;
}

.section-title h2 {
  font-size: 29px;
  margin-bottom: 7px;
}

.section-title p {
  font-size: 17px;
}

.menu-button { 
  font-size: 17px;
}
}



/* Large tablet / Ipad Pro */
@media (min-width: 1024px) {
  .menu-grid{
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-title h1 {
  font-size: 41px;
  margin-bottom: 10px;
  }

  .menu-title p {
    font-size: 20px;
  }

  .hero-button { 
    font-size: 22px;
    padding: 17px 20px;
  }

  .section-title h2 {
    font-size: 39px;
    margin-bottom: 7px;
  }

  .section-title p {
    font-size: 23px;
    margin-bottom: 10px;
  }

  .menu-button { 
    font-size: 24px;
  }

  .menu-card img {
    height: 140px;
    width: 140px;
    margin: 0 auto 15px;
  }
}

/* Desktop */
  @media (min-width: 1280px) {

  .menu-grid{
    grid-template-columns: repeat(6, 1fr);
  }    

  .hero-menu {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  }

  .hero-menu img {
    height: 800px;
    object-fit: cover;
    object-position: center;
  }

  .menu-title {
    padding-left: 80px;
  }

  .menu-title h1 {
  font-size: 48px;
  margin-bottom: 10px;

  }

  .menu-title p {
    font-size: 24px;
  }

  .hero-button { 
    font-size: 24px;
    padding: 17px 20px;
  }

  .section-title h2 {
    font-size: 42px;
    margin-bottom: 10px;
  }

  .section-title p {
    font-size: 25px;
  }

  .section-title { 
    margin-bottom: 60px;
  }

  .menu-button { 
    font-size: 28px;
    padding: 12px 16px;
  }

  .menu-card img {
    height: 160px;
    width: 160px;
    margin: 0 auto 15px;
  }

  }